<%= form_for(@conference.messages.new) do |f| %>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_field :text %>
    <%= f.hidden_field :conference_id, value: @conference.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
