<%= form_for(Message.new) do |f| %>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_field :text %>
    <%= f.hidden_field :conference_id, value: params[:conference_id] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
