<p id="notice"><%= notice %></p>

<h1>Listing Messages</h1>
<%= Gon::Base.render_data %>

<div id="messages">
  <%= render @messages %> 
</div>
<%= render partial: 'form' %>
<p>
  <%= link_to 'show users in conference', conference_users_path(conference_id: params[:conference_id]) %>
</p>
<p>
  <%= link_to 'add user', new_conference_user_path(conference_id: params[:conference_id]) %>
</p>
<br>
<%= paginate @messages %>

