<p id="notice"><%= notice %></p>

<h1>Listing Conferences</h1>

<% @conferences.each do |conference| %>
  <p>
    <strong>Id:</strong>
    <%= conference.id %>
    <ul>
      <% conference.users.each do |user| %>
        <li><%= user.email %></li>
      <% end %>
    </ul>
    <%= link_to "open conference", conference_path(conference.id) %> 
  </p>
<% end %>


<table>
  <thead>
    <tr>
      <th>Id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conferences.each do |conference| %>
      <tr>
        <td><%= conference.id %></td>
        <td><%= link_to 'Show', conference %></td>
        <td><%= link_to 'Edit', edit_conference_path(conference) %></td>
        <td><%= link_to 'Destroy', conference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Conference', new_conference_path %>
